header {
    background-color: #2f01a5;
}

.nav-link {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: white;
}

.section-title {
    font-family: "Orbitron", sans-serif;
    color: #2f01a5;
}


.section-p {
    font-family: "Roboto Slab", serif;
    font-style: normal;
}

#cabecalho .nav-link:hover {
    color: #d076ff;
}

.navbar-brand,
.navbar-brand:hover  {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}

#cabecalho .nav .nav-link.active {
    color: white;
    background-color: #864ff2;
}

.navbar-toggler {
    background-color: white;
}

#loja,
#consoles {
    background-color: #ded8ff;
}

#loja .carousel-inner img {
    width: 1920px;
    height: 760px;
}

.row img {
    height: 250px;
}

.section-p {
    text-align: justify;
}

.nav-console .nav-link.active {
    background-color: #2f01a5;
}

.nav-console .nav-link.active:hover {
    background-color: #7c1ede;
}

.nav-console .nav-link {
    color: #2f01a5;
}